* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(174, 27, 27, 0.8);
    border-bottom: 1px solid #664d34;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}