* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'poppins', sans-serif;
    color: #fff;
    height: 2000px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /* padding-top: -15px;
    padding-bottom: 0; */
    padding: 1.4rem 7%;
    background-color: rgba(0, 0, 0, 0);
    /* z-index: 9999; */

}































/* media queries */

/* laptop */
@media (max-width : 1366px) {
    html {
        font-size: 75%;
    }
}

/* tablet */
@media (max-width : 768px) {
    html {
        font-size: 62.5%;
    }

    #hamberger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }


    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }


    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }


    .about .row .content {
        padding: 0;

    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.5rem;
    }

    .menu p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    .modal-content {
        flex-wrap: wrap;
    }




}

/* mobile phone*/
@media (max-width : 450px) {
    html {
        font-size: 55%;
    }
}